body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  color: #000000;
}

input, textarea, select, button {
  color: #000000 !important;
}

.mantine-Text-root {
  color: #000000 !important;
}

.mantine-Title-root {
  color: #000000 !important;
}

.mantine-Button-root {
  color: #000000 !important;
}
